/* CSS Document */

      html { height:100%; }
    
      body {
        height:100%;
        background-image: url(../img/light/Background-Content.gif); margin: 0px;
      }
      
      .reshape_session_topbar {
        height:125px;
        background-image:url(../img/light/Background-TopNavigation.png);
        background-repeat:repeat-x
      }

      .nav>li>a {
        color: #39393B; 
        text-decoration: none;
      }

      .nav_a:after {
        margin-left: 30px;
        content: url(../img/light/navigation-separator.gif);
        position:relative; top:15px;
      }

      .nav_a_last:after {
        margin-left: 30px;
        content: url(../img/light/navigation-separator-after.png);
        position:relative; top:15px;
      }

      .nav>li>a:hover, .nav>li>a:focus {
        color: #E12933;
        background-color:transparent;
        text-decoration: none;
      }   
      
      .navbar-icon {
        margin-right: 10px;
      }
      
      .render-wrapper {
        width: 100%;
        height: 75%;
      }
      
      .person-name {
        color: #39393B;
      }
