/* CSS Document */

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(../img/dark/Background-Content.gif);
    margin: 0px;
    padding: 0px;
    padding-top: 60px;
}
div {
  height: 100%;
}

/**
 * ================================
 * Loader
 * ================================
 */

/* Absolute Center CSS Spinner */
.loading {
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 0, 0, 0.75) 1.5em 0 0 0, rgba(255, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(255, 0, 0, 0.75) 0 1.5em 0 0, rgba(255, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(255, 0, 0, 0.5) -1.5em 0 0 0, rgba(255, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(255, 0, 0, 0.75) 0 -1.5em 0 0, rgba(255, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 0, 0, 0.75) 1.5em 0 0 0, rgba(255, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(255, 0, 0, 0.75) 0 1.5em 0 0, rgba(255, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(255, 0, 0, 0.75) -1.5em 0 0 0, rgba(255, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(255, 0, 0, 0.75) 0 -1.5em 0 0, rgba(255, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
 * ================================
 *  End Loader
 * ================================
 */
.logo {
  padding: 3px;
  max-width: 300px;
  min-width: 100px;
  max-height: 30px;
  min-height: 20px;
}

.navbar-icon {
  max-width: 30px !important;
}

.user-info {
  background-color: #383838;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px;
  z-index: 100;
  width: 100%;
  height: 30px;
  margin-bottom: -30px;
}
.user-name-wrapper {
  background-color: #494949;
  padding: .5% 10%;
  color: #ffffff;
}

#clientRenderingWrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
.render-wrapper {
  
}
.trainer-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  width: 20% !important;
  padding-top: 42% !important;
}

.user-info:hover{
  opacity: 1.0
}
#localUserIdLbl {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: #fff;
}
/*Used to style the client boxes*/
.remote-renderer:not(#rendererTmpl) {
  position: relative;
  float: left;
}

.btn-grey {
  color: #fff;
  background-color: #494949;
  border-color: #eeeeee;
}

.btn-grey:hover {
  color: #fff;
  background-color: #505050;
  border-color: #eeeeee;
}

/**
 * ==========================================
 * Chat Widget classes
 * ==========================================
 */
.chat-widget{
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 110;
  background-color: #333333;
  min-height: 480px;
  height: 100%;
}
.chat-widget-screen:hover {
  opacity: 1;
}

.chat-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #494949;
  width: 100%;
  max-height: 22px;
  padding: 5px 5px;
  z-index: 100
}

.chat-title {
  position: absolute;
  top: 0;
  left: 40%;
  color: #fff;
}

.chat-widget-handle{
  position: absolute;
  top: 0;
  right:0;
  width: 25px;
  height: 100%;
  background-color: #494949;
}
.chat-widget-screen {
  display: none;
  opacity: .3;
  background-color: #EFEFEF;
  padding: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  min-height: 480px;
}

.chat-open-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.messages-sink {
  position: relative;
  height: 85%;
  width: 100%;
  background: #e9e9e9;
  padding: 22px 0px 10px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  z-index: 2;
}
.messages-input {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10% !important;
}
.messages-sink .msg-itm {
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.msg-itm .msg-header {
  /*line-height: 12px;*/
  font-size: 12px;
  color: #888;
}