/* CSS Document */

  body {
    background-image: url(../img/dark/Background-Content.gif);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  .container-full {
    margin: 0 auto;
    width: 100%;
  }