/* CSS Document */
      html { height:100%; }
    
      body {
        height:100%;
        background-image: url(../img/dark/Background-Content.gif); margin: 0px;
      }
      
      .reshape_session_topbar {
        height:125px;
        background-image:url(../img/dark/Background-TopNavigation.png);
        background-repeat:repeat-x
      }

      .nav>li>a {
        color: #FFFFFF; 
        text-decoration: none;
      }

      .nav_a:after {
        margin-left: 30px;
        content: url(../img/dark/navigation-separator.gif);
        position:relative; top:15px;
      }

      .nav_a_last:after {
        margin-left: 30px;
        content: url(../img/dark/navigation-separator-after.png);
        position:relative; top:15px;
      }

      .nav>li>a:hover, .nav>li>a:focus {
        color: #E12933;
        background-color:transparent;
        text-decoration: none;
      }   
      
      .navbar-icon {
        margin-right: 10px;
      }
      
      .render-wrapper {
        width: 100%;
        height: 75%;
      }
      
      .person-name {
        color: #FFFFFF;
      }


.rendering-wrapper, #tut4CtrlWrapper { margin: 0 20px; position: relative; width: 100%; z-index: 2; }
#settings-container { background: none repeat scroll 0 0 #dbdbdb; border-radius: 4px; display: none; padding: 20px; position: fixed; right: 80px; top: 100px; z-index: 50000; }
.close-settings { bottom: -25px; color: rgb(255, 255, 255); font-size: 14px; font-weight: 600; position: absolute; right: 0; }
.close-settings:hover { color: #e11330; cursor: pointer; }
.ctrl-wrapper { margin-bottom: 10px; margin-left: 10px; }
.ctrl-wrapper input { box-shadow: none; transition: none 0s ease 0s ; }
.ctrl-wrapper label, .ctrl-wrapper .ctrl { float: left; margin-right: 5px; }
.ctrl-wrapper label { display: block; padding-top: 3px; width: 180px; font-weight: 300; }
.ctrl-wrapper .ctrl { width: 300px; }
.clickable, label, input[type="button"], input[type="submit"], input[type="file"], button { cursor: pointer; }
.clearer { clear: both; }

.chat-widget {
  background-color: #fff;
  width: 400px;
  height: 500px;
  border: #888 solid 1px;
  margin: 20px auto 10px;
  position: relative;
}

.messages-input {
  background: #EEE;
  position: absolute;
  bottom: 0;
  width: 390px;
  height: 100px;
  padding: 2px 5px
}

.messages-input textarea {
  width: 380px;
  height: 45px;
  resize: none;
}

.messages-input select {
  width: 110px;
  height: 26px;
  padding: 2px;
  margin-top: 5px;
}

.messages-input label {
  margin-top: 10px;
  display: inline-block;
}

.messages-input .send-btn {
  margin-left: 5px;
}

.messages-sink {
  height: 394px;
  border-bottom: 2px solid #666;
  padding: 5px;
  overflow-y: scroll;

}

.messages-sink .msg-itm {
  border-bottom: 1px solid #666;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.msg-itm .msg-header {
  /*line-height: 12px;*/
  font-size: 12px;
  color: #888;
}

.msg-itm .direct-indicator.hidden {
  visibility: hidden;
}

.render-wrapper-big {
  width: 640px;
  height: 480px;
  padding: 5px;
  border: 1px solid #333;
  background: #999;
}

.scr-share-src-wrapper {
  height: 300px;
  overflow-y: auto;

}

.scr-share-src-list {
  height: 300px;
}

.scr-share-src-itm {
  float: left;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  width: 240px;
  height: 175px;
}

.scr-share-src-itm p {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  text-align: center;
}

.scr-share-src-itm.selected {
  background: #DDD;
}

.scr-share-src-itm:hover {
  background: #DDD;
}