a.thumblink:link    {color:#FFFFFF;}

a.thumblink:visited {color:#FFFFFF;}

a.thumblink:hover   {color:#009aff;}

a.thumblink:active  {color:#FFFFFF;}



/* CSS Document */

.thumb1Div{

	background-image:url("html_content/thumb1-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb1P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:223px;

	padding-left:150px;

	padding-top:184px;

}



.thumb2Div{

	background-image:url("html_content/thumb2-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb2P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:170px;

	padding-left:200px;

	padding-top:165px;

}



.thumb3Div{

	background-image:url("html_content/thumb3-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb3P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:155px;

	padding-left:194px;

	padding-top:126px;

}



.thumb4Div{

	background-image:url("html_content/thumb4-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb4P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:165px;

	padding-left:206px;

	padding-top:175px;

}



.thumb5Div{

	background-image:url("html_content/thumb5-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb5P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:240px;

	padding-left:48px;

	padding-top:157px;

}



.thumb6Div{

	background-image:url("html_content/thumb6-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb6P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:165px;

	padding-left:206px;

	padding-top:125px;

}



.thumb7Div{

	background-image:url("html_content/thumb7-image.jpg");

	width:100%;

	height:100%;

}



.thumb7P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:350px;

	padding-left:20px;

	padding-top:100px;

}



.thumb7P2{

	padding-top:60px;

}



a.thumb7ImageIcon {

    width:44px;

    height:48px;

    text-indent:-9999px;

    overflow:hidden;

    display:block;

	float:left;

	margin-left:19px;

    background:url(html_content/thumb7-images-icon.png) no-repeat 0 0; /* Setting the image as a background */

}

a.thumb7ImageIcon:hover {

    background:url(html_content/thumb7-images-icon.png) no-repeat 0 -48px; /* When passing the mouse over, the image will be 'raised' */

}



a.thumb7HtmlIcon {

    width:61px;

    height:48px;

    text-indent:-9999px;

    overflow:hidden;

    display:block;

	float:left;

	margin-left:19px;

    background:url(html_content/thumb7-html-icon.png) no-repeat 0 0; /* Setting the image as a background */

}

a.thumb7HtmlIcon:hover {

    background:url(html_content/thumb7-html-icon.png) no-repeat 0 -48px; /* When passing the mouse over, the image will be 'raised' */

}



a.thumb7LinkIcon {

    width:31px;

    height:48px;

    text-indent:-9999px;

    overflow:hidden;

    display:block;

	float:left;

	margin-left:19px;

    background:url(html_content/thumb7-link-icon.png) no-repeat 0 0; /* Setting the image as a background */

}

a.thumb7LinkIcon:hover {

    background:url(html_content/thumb7-link-icon.png) no-repeat 0 -48px; /* When passing the mouse over, the image will be 'raised' */

}



a.thumb7YoutubeIcon {

    width:61px;

    height:48px;

    text-indent:-9999px;

    overflow:hidden;

    display:block;

	float:left;

	margin-left:19px;

    background:url(html_content/thumb7-youtube-icon.png) no-repeat 0 0; /* Setting the image as a background */

}

a.thumb7YoutubeIcon:hover {

    background:url(html_content/thumb7-youtube-icon.png) no-repeat 0 -48px; /* When passing the mouse over, the image will be 'raised' */

}



a.thumb7VimeoIcon {

    width:66px;

    height:48px;

    text-indent:-9999px;

    overflow:hidden;

    display:block;

	float:left;

	margin-left:19px;

    background:url(html_content/thumb7-vimeo-icon.png) no-repeat 0 0; /* Setting the image as a background */

}

a.thumb7VimeoIcon:hover {

    background:url(html_content/thumb7-vimeo-icon.png) no-repeat 0 -48px; /* When passing the mouse over, the image will be 'raised' */

}



.thumb8Div{

	background-image:url("html_content/thumb8-image.jpg");

	width:100%;

	height:100%;

}



.thumb8P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:260px;

	padding-left:23px;

	padding-top:216px;

}



.thumb9Div{

	background-image:url("html_content/thumb9-image.jpg");

	width:100%;

	height:100%;

}



.thumb9P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:260px;

	padding-left:100px;

	padding-top:68px;

}



.thumb10Div{

	background-image:url("html_content/thumb10-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb10P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:230px;

	padding-left:143px;

	padding-top:184px;

}



.thumb11Div{

	background-image:url("html_content/thumb11-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb11P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:166px;

	padding-left:16px;

	padding-top:147px;

}



.thumb12Div{

	background-image:url("html_content/thumb12-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb12P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:260px;

	padding-left:120px;

	padding-top:268px;

}



.thumb13Div{

	background-image:url("html_content/thumb13-image.jpg");

	background-color:#FF0000;

	width:100%;

	height:100%;

}



.thumb13P{

	font-family:Arial, Helvetica, sans-serif !important;

	font-weight:100;

	color:#FFFFFF !important;

	font-size:13px !important;

	line-height:18px !important;

	width:165px;

	padding-left:206px;

	padding-top:163px;

}



