.service-circle, .service-circle-hover { display: inline-block; width: 46px; height: 46px; line-height: 51px; text-align: center; color: #ffffff; border-radius: 50px; margin-right: 4px; }

.service-circle:hover, .service-circle-hover{ background-color:#000000 !important;}

a:hover, a:focus { text-decoration: none; }



.breadcrumb>li+li:before { display: none; }