/*
 *  Document   : night.css
 *  Author     : pixelcave
 *  Description: THEME NIGHT
 *
 */

/* Main Dark Colors */
body, .nav.navbar-nav-custom > li > a, .navbar-default .navbar-nav > li > a, .form-control, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, li.dropdown-header, .chosen-container-single .chosen-single, .themed-color-dark {
    color: #333333;
}
textarea { outline: none; resize: none; }
#sidebar{
    margin-top: 16px;
}
#page-container, #sidebar, #sidebar-alt, .table-pricing.table-featured td, .table-pricing td.table-featured, .themed-background-dark {
    background-color: #000000;
}
.themed-border-dark {
    border-color: #333333;
}
header.navbar-inverse.navbar-fixed-bottom {
    border-top-color: #333333;
}
header.navbar-inverse.navbar-fixed-top, .table-pricing.table-featured th, .table-pricing th.table-featured {
    border-bottom-color: #333333;
}
.navbar.navbar-inverse {
    background-color: #464646;
}
/* Main Light Colors */
.sidebar-nav a, .header-section h1 i, blockquote:before {
    color: #D3D3D3;
}
#page-content, .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th, ul.wysihtml5-toolbar a.btn.wysihtml5-command-active, .slider-track {
    background-color: #f2f2f2;
    margin-top: 68px;
}
blockquote, .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td, .table tbody + tbody, .table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .list-group-item, .nav-tabs > li > a:hover, .pager > li > a, .pager > li > span, .pager > li.disabled > a:hover, .dropzone, ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    border-color: #f2f2f2;
}
.dataTables_wrapper > div {
    border-color: #f2f2f2;
    border-top-width: 0;
}
header.navbar-default.navbar-fixed-bottom, .content-header, li.dropdown-header, .style-alt footer {
    border-top-color: #f2f2f2;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #f2f2f2;
    border-bottom-color: transparent;
}
.block-title .nav-tabs > li.active > a, .block-title .nav-tabs > li.active > a:hover, .block-title .nav-tabs > li.active > a:focus {
    border-color: #f2f2f2;
    border-bottom-color: #ffffff;
}
.block-title, .navbar.navbar-default, .form-bordered .form-group.form-actions, .table tfoot > tr > th, .table tfoot > tr > td, a.list-group-item:hover, a.list-group-item:focus, .nav > li > a:hover, .nav > li > a:focus, li.dropdown-header, .style-alt .content-header + .breadcrumb-top, .style-alt .breadcrumb-top + .content-header, .style-alt footer, .dropzone {
    background-color: #f9f9f9;
}
.switch-default input:checked + span, .style-alt .block-title {
    background-color: #e8e8e8;
}
.block, .form-control, .input-group-addon, .switch-default span, .dropdown-menu, .style-alt .block, .chosen-container-single .chosen-single, .chosen-container-single .chosen-search input[type="text"], .chosen-container-multi .chosen-choices, div.tagsinput, .select2-container .select2-choice, .select2-search input, .select2-container-multi .select2-choices {
    border-color: #e8e8e8;
}
footer, .media-feed > .media {
    border-top-color: #e8e8e8;
}

.content-header, .content-top, .block-top, .breadcrumb-top, .style-alt .block-title {
    border-bottom-color: #e8e8e8;
}
.content-header-media {
    border-top-color: #222222;
}
/* Main Highlight Colors */
.text-primary, .text-primary:hover, a, a:hover, a:focus, .nav-pills > .active > a > .badge, .pagination > li > a, .pagination > li > span, .btn-link, .btn-link:hover, .btn-link:focus, .btn-link.btn-icon:hover, .btn-link.btn-icon:focus, .themed-color {
    color: #d3202c;
}
a:hover{
    text-decoration:underline;
}
.sidebar-brand{
    line-height: 65px !important;
}
.nav.navbar-nav-custom > li.open > a, .nav.navbar-nav-custom > li > a:hover, .nav.navbar-nav-custom > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, a.sidebar-brand:hover, a.sidebar-brand:focus, a.sidebar-title:hover, a.sidebar-title:focus, #to-top:hover, .timeline-list .active .timeline-icon, .table-pricing.table-featured th, .table-pricing th.table-featured, .wizard-steps div.done span, .wizard-steps div.active span, .switch-primary input:checked + span, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager > li > a:hover, .pagination > li > a:hover, .label-primary, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled], .bootstrap-timepicker-widget table td a:hover, div.tagsinput span.tag, .slider-selection, .themed-background, .select2-results .select2-highlighted, .select2-container-multi .select2-choices .select2-search-choice {
    background-color: #d22130;
}
.timeline-list .active .timeline-icon, .form-control:focus, .wizard-steps span, .switch-primary span, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus, .pager > li > a:hover, .pagination > li > a:hover, .chosen-container .chosen-drop, .chosen-container-multi .chosen-choices li.search-choice, .chosen-container-active .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-active .chosen-choices, div.tagsinput span.tag, .themed-border, .select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices, .select2-results .select2-highlighted, .select2-container-multi.select2-container-active .select2-choices {
    border-color: #d22130;
}
.nav .caret, .nav a:hover .caret, .nav a:focus .caret {
    border-top-color: #888888;
    border-bottom-color: #888888;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-top-color: #888888;
}
/* NProgress */
#nprogress .bar {
    background-color: #888888;
}
#nprogress .peg {
    box-shadow: 0 0 10px #888888, 0 0 5px #888888;
}
#nprogress .spinner-icon {
    border-top-color: #888888;
    border-left-color: #888888;
}
/* FullCalendar buttons */
.fc-state-default {
    background-color: #aaaaaa;
    border-color: #888888;
}
.fc-state-hover, .fc-state-down, .fc-state-active, .fc-state-disabled {
    background-color: #888888;
}
.fc-state-highlight {
    background-color: #f9f9f9;
}
/* Specific for default & primary button */
.btn-default {
    background-color: #f5f5f5;
    border-color: #e8e8e8;
    color: #333333;
}
.btn-default:hover {
    background-color: #f2f2f2;
    border-color: #cfcfcf;
}
.btn-default:focus, .btn-default:active, .btn-default.active, .open .btn-default.dropdown-toggle {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #888888;
    border-color: #888888;
}
/* RESHAPE BRANDING */
.prof-welcome{
    font-size: 34px;
    color:#eaeaea;
}
.prof-welcomename{
    margin-top: -23px;]
    font-size: 54px;
    font-weight: 600;
    text-transform: uppercase;
}
.datepicker{
    z-index:999999 !important;
}
.networkbtn{
    opacity: 1.0 !important;
}
.graybox{
    background-color: #F0F0F0;
    color: #4D4D4D !important;
}
.searchbar{
    color: #ffffff !important;
    border: 1px solid #939393;

}
.networksearch{
    margin-top: 4px;

}
.network-filter{
    min-height: 52px;
    background-color: #000000 !important;
    padding: 5px;
}
.filtericons li:hover a {
    background-position: 0 -38px;
}
.filtericons li a, a.filtericons {
    width: 37px;
    height: 37px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.block-title-light{
    background-color: #F0F0F0 !important;
    color: #353535 !important;
}
.contactinfo{
    background-color:#FAFAFA;
    min-height: 40px;
}
.gridicon{
    font-size: 24px;
    margin-top: 9px;
    color: #fff;
}
.legend{
    border: 1px dotted #eaeaea;
    padding: 10px 20px;
    /* height: 178px; REM BY JMW */
    margin-top: 104px;
    background-color: #F9F9F9;
}
li{
    list-style-type: none;
}
.us-square{
    width:15px;
    height:15px;
    float:left;
    background-color:#8cc34b;
}
.dr-square{
    width:15px;
    height:15px;
    float:left;
    background-color:#5d5d5d;
}
.legendtext{
    padding-left:20px;
    padding-bottom:5px;
}
.r-square{
    width:15px;
    height:15px;
    float:left;
    background-color:#df3c26;
}
.pp-square{
    width:15px;
    height:15px;
    float:left;
    background-color:#3965af;
}
.rp-square{
    width:15px;
    height:15px;
    float:left;
    background-color:#fdb91f;
}
.newservicebtn{
    margin-left: -10px;
    margin-top: 3px;
}
.listicon{
    font-size: 24px;
    color: #fff;
}
.filtericons{
    display: inline;
    margin-left: -41px;
}
.filterright{
    text-align: right;
    float: right;
    margin-right: -49px;
}
.viewright{
    text-align: right;
    float: right;
}
.viewtitle{
    font-size: 13px !important;
    color: #ffffff;
    vertical-align: middle;
    margin-top: -12px !important;
}
.filtertitle{
    font-size: 13px !important;
    color: #ffffff;
    vertical-align: middle;
    margin-top: -31px !important;
}
.filtericons li a {
    margin: 0 1px;
}
.filtericons li {
    list-style: none;
    text-indent: -9999px;
    display: inline-block;
}
.modal-header{
    border-bottom:1px solid #000000;
}

.session_filter_approved{
    background: url(/static/img/filtericons/session-approved.png) no-repeat;
}
.session_filter_pending{
    background: url(/static/img/filtericons/session-pending.png) no-repeat;
}
.service_filter_all_top {
    background: url(/static/img/filtericons/all.png) no-repeat;
}

.service_filter_broadcast {
    background: url(/static/img/filtericons/broadcast.png) no-repeat;
}
.service_filter_class{
    background: url(/static/img/filtericons/class.png) no-repeat;
}
.service_filter_group {
    background: url(/static/img/filtericons/group.png) no-repeat;
}
.service_filter_one {
    background: url(/static/img/filtericons/onetoone.png) no-repeat;
}

.service_filter_person {
    background: url(/static/img/filtericons/person.png) no-repeat;
}
.service_filer_private {
    background: url(/static/img/filtericons/private.png) no-repeat;
}
.profile-btns{
    position: absolute;
    margin-left: 43% !important;
    bottom: 0;
}
.editprof-intro{
    padding: 42px 78px 0 78px;
    color: #fff;
}
.prof-progress{
    list-style:none;
    margin-left: -25px;
}
.profile-btn{
    bottom: 0px;
    position: absolute;
    margin-left: 42%;
}
.bio{
    resize:none;
}
.modal-padding{
    padding: 10px 50px 0px 50px;
}
.socialicon{
    margin-top: -4px;
}
.collapse.in .dropdown.open .dropdown-menu {
    display: block;
    margin: 13px 0 0 -7px !important;
    left: auto;
    top: auto;
}
.profile-steps{
    border: 1px solid #eaeaea;
    padding: 21px;
    display: table;
    margin: 0 auto;
    background-color: #F9F9F9;
    min-height: 1028px;
    margin-left: -5px;
    margin-top: -20px;
    margin-bottom: -1px;
}
.input-space{
    margin-top:20px;
}

.form-bordered .form-group {
    margin: 0;
    padding: 15px;
    border-bottom: 1px dashed #eaedf1;
}

.sidebar-nav a.active, .sidebar-nav ul a.active, .sidebar-nav ul a.active:hover{
    border-left-color: #d3202c;
    background-color: #f2f2f2;
    color: #d3202c;
}
.sidebar-nav a:hover {
    background-color:rgb(27, 27, 27);
}
.sidebar-nav ul a.active, .sidebar-nav ul a.active:hover {
    padding-left: 32px;
}
.sidebar-nav li{
    border-bottom: 1px solid #1D1D1D;

}
.sidebar-nav li ul {
    background-color: #171719;
}
.sidebar-nav li ul li a:before {
    content: "-";
    position: relative;
    left: -18px;
    color: #515154;
}
.sidebar-nav li ul li a {
    padding-left: 36px;
}
.sidebar-nav li ul li a.active {
    padding-left: 32px;
}
.sidebar-nav {
    margin-top: -9px;
}
.sidebar-user{
    padding-bottom:12px;
}
.navbar.navbar-default {
    background-color: #000;
}
.navbar .navbar-form-custom .form-control:hover {
    background-color: #464646;
}
.navbar .navbar-form-custom .form-control:focus {
    background-color: #000;
    color: #FFF;
}
.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .btn-primary.dropdown-toggle {
    background-color: #FFF;
    border-color: #888888;
    color: #888888;
}
.btn-primary {
    background-color: #d22130;
    border-color: #d22130;
    color: #FFF;
}
.btn-gray {
    background-color: #C2C2C2;
    color: #4D4D4D;
}
.info-btn{
    background-color: #B2B2B2;
    color: #383838;
}

.btn-primary:hover, .btn-default:hover {
    background-color: #FFF;
    color: #d22130;
    border-color: #d22130;
}
.block-options .btn {
    border-color: #c7c7c7;
    color: #464646;
}
.block-options .btn-primary {
    color: #FFF;
}
.block-options .btn:hover, .block-options .btn:active {
    color: #d22130;
    border-color: #d22130;
    background-color: #FFF;
}
header .navbar-form-custom {
    display: none;
}
.servicename{
    text-transform:uppercase;
    font-size:15px !important;
    font-weight:700;
}
.servicebox{
    min-height:260px;
    border-color: #C5C5C5 !important;
}
.servicebtn{
    margin-top: 9px;
    margin-right: 11px;
}
.serviceinfo{
    margin-top: -12px;
}
.block-title {
    background-color: #464646;
    color: #FFF;
}
.block-title .nav-tabs > li > a {
    color: #EEE;
}
.block-title .nav-tabs > li.active > a {
    color: #000;
    font-weight: bold;
}
.block-title .nav-tabs > li > a:hover {
    background-color: #FFF;
    color: #000;
}
.breadcrumb-top {
    margin:-1px -5px 10px;
    width:100%;
    border-bottom: 1px solid #dbe1e8;
    font-size: 12px;
}
.breadcrumb > li + li:before {
    content: "\203a";
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
}
.bcfirst-li{
    margin-left:14px;
}
.tab-content {
    background-color: #FFF;
    border: none;
    color: #000;
}
.tab-content .block {
    border: none;
}
.tab-content .block-title {
    border: none;
    background-color: #FFF;
    color: #464646;
}
.white-text {
    color: #fff;
}
.service-circle, .service-circle-hover {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 51px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    margin-right: 4px;
}
.service-circle:hover, .service-circle-hover {
    background-color: #000000 !important;
}

.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 5px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 150px;
    height: 150px;
    cursor: move;
}
.cropit-image-background {
    opacity: .2;
    cursor: auto;
}
.image-size-label {
    margin-top: 0.6rem;
}
input {
    position: relative;
    z-index: 10;
}
/* Customization of calendar buttons */
.fc-state-default {
    color: #000000 !important;
    background-color: transparent !important;
    border: medium none !important;
}
.fc-state-hover, .fc-state-down, .fc-state-active, .fc-state-disabled {
    color: #000000 !important;
    text-decoration: underline !important;
    background-color: transparent !important;
}
.fc-state-hover {
    color: #646464 !important;
    background-color: transparent !important;
}
.fc-state-down, .fc-state-active {
    background-color: transparent !important;
}
/* Photo album */
.block.img {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}
.block-title.img {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.block-title.img-album {
    margin-bottom: 0;
}
/* Sweet alerts */
.sweet-alert, .sweet-overlay {
    z-index: 2040 !important;
}
/* Edit session modal form */
.remove_from_session {
    background-color: transparent;
    border: medium none;
    color: #888888 !important;
    padding: 0;
}
.remove_from_session:hover {
    text-decoration: underline;
}
/* Messaging */
.chat-users a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 34px;
}
.chat-users a img {
    height: 30px;
    opacity: 0.5;
    width: 30px;
}
.msg-read-btn {
    float: left;
    margin-top: 21px;
    padding-right: 13px;
}
.participants {
    float: left;
    font-size: 13px;
}
.subject {
    font-weight: 600;
}
.msg {
    margin-top: 3px;
}
.excerpt {
    font-size: 12px;
}
.chatui-talk, .chatui-input {
    left: 0;
    right: 2px !important;
}
.chatui-input {
    background-color: #ececec;
}
.block-title {
    margin-left: -20px;
}

.btn-info {
    background-color: #d22130;
    border-color: #525050;
}
.chatui-input {
    background-color: #fafafa;
}
/* Profile Header and Header*/
.header-section small {
    display: block;
    padding-top: 20px;
}
.prof-name h1 {
    color: #272727;
    font-size: 38px !important;
    font-weight: 600;
    display: inline;
    text-transform: uppercase;
}
.prof-name small {
    display: none;
}
.prof-cert {
    color: #d31313;
    font-size: 18px;
}
.prof-descrip {
    color: #868686;
    font-size: 17px;
    margin-top: -18px;
}
.trainerpic {
    height: 80px;
    margin-left: 20px;
    width: 80px;
}
.prof-title {
    margin-top: 18px;
    margin-left: 20px;
}
.trainer-pic-container, .prof-title {
    float: left;
}
.trainer-pic-container {
    margin-right: 20px;
}
/* Session grid view */
.serviceiconall, .serviceiconbroadcast, .serviceiconclass, .serviceicongroup, .serviceiconone, .serviceiconperson, .serviceiconprivate {
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -99999px;
    margin-top: 12px;
    margin-left: 12px;
}
.serviceiconall:hover, .serviceiconbroadcast:hover, .serviceiconclass:hover, .serviceicongroup:hover, .serviceiconone:hover, .serviceiconperson:hover, .serviceiconprivate:hover, .serviceiconall.hover, .serviceiconbroadcast.hover, .serviceiconclass.hover, .serviceicongroup.hover, .serviceiconone.hover, .serviceiconperson.hover, .serviceiconprivate.hover {
    background-position: 0 -50px;
}

.filtericons ul {
    margin: 0;
    padding: 0;
    margin-top: -3px;
    list-style-type: none;
}
.filtericons ul li {
    display: inline;
    float: left;
}
.filtericons ul li a {
    text-decoration: none;
}
.siconone {
    display: block;
    width: 50px;
    height: 50px;
    background: url('img/filtericons/onetoone.png') bottom;
    text-indent: -99999px;
    margin-top: 5px;
    margin-left: 5px;
}
.grid-session .block-title {
    background-color: #fff;
}
.service-filter{
    background-color: #000000;
    padding: 5px;
}
.grid-session {
    background-color: #333!important;
    color: #fff;
    min-height: 441px;
}
.grid-session .background-min {
    min-height: 180px;
}
.grid-session .background-max {
    min-height: 299px;
}
.gsession-title {
    min-height: 74px;
}
.gsession-date {
    font-size: 13px;
    margin-top: 2px;
    color: #A2A0A0;
}
.gs-footer {
    padding: 0 20px 20px;
}
.header-section{
    padding: 0 0 25px 23px;
}
/* Professional Profile modal */
.prof-bg {
    background-color: #232323;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(45, 42, 43, 1);
    -moz-box-shadow: 0px 6px 10px 0px rgba(45, 42, 43, 1);
    box-shadow: 0px 6px 10px 0px rgba(45, 42, 43, 1);
}
.prof-title-modal {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 10px;
    background-color: #1c1c1c;
}
.prof-name {
    color: #EEEEEE;
    font-family: 'Roboto condensed', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}
.prof-cert {
    color: #D31313;
    font-size: 24px;
}
.prof-descrip {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: -28px;
}
.prof-location {
    color: #A8A8A8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: -19px;
}
.prof-view {
    min-width: 740px;
    min-height: 728px;
    background-color: #2d2d2d;
}
.followbtn {
    z-index: 99999;
    position: absolute;
    margin-left: 422px;
    margin-top: -2px;
}
.prof-text {
    color: #fff;
    padding: 14px 73px;
    text-align: center;
    font-size: 13px;
}
.view {
    width: 120px;
    height: 120px;
    margin: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 120px;
    height: 120px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(88, 88, 88, 0.7);
    ;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view-first:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-first:hover h2, .view-first:hover p, .view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/* Client Profile modal */
.client-membersince {
    color: #A8A8A8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: -26px;
}

.client-info {
    list-style: none;
    margin-left: -83px;
    margin-top: -5px;
    color: #fff;
    text-align: left;
    line-height: 26px;
    padding-right: 46px;
}
.modal-bg{
    background-color:#191919;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    color:#FFFFFF;
}
/* Messaging */
.messaging_block {
    bottom: 0;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 186px;
}
.messaging_container {
    position: relative;
}
.messaging_tab {
    height: 100%;
    padding-bottom: 42px;
}
.messaging_left_column, .messaging_right_column, .messaging_left_column ul, .messaging_left_column .slimScrollDiv, .chatui-container {
    height: inherit;
}
.message{
    min-height:74px;
}
.convlist{
    margin-left: -20px;
    margin-top: -21px;
    margin-bottom: -20px;
}

.msginfo{
    margin-top: -20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eaeaea;
    margin-left: -29px;
    margin-right: -36px;
}

@media (max-width: 767px) {
    .messaging_tab {
        height: auto;
        padding-bottom: 0;
    }
    .messaging_block {
        position: static;
    }
    .nav.nav-pills.nav-stacked {
        max-height: 400px;
    }
    .messaging_right_column {
        padding-top: 20px;
    }
    .chatui-talk {
        max-height: 500px;
    }
}


/* MESSAGES */
.content-frame .content-frame-body.content-frame-body-left {
    margin-left: 0px;
    margin-right: 300px;
}
.content-frame .content-frame-body {
    padding: 70px 10px 10px 10px;
    margin-left: 300px;
}

.panel.panel-default {
    border-top-color: #F5F5F5;
    border-top-width: 1px;
}

.push-up-10 {
    margin-top: 12px !important;
}

.panel .panel-body.panel-body-search {
    padding: 5px;
}
.panel .panel-body {
    padding: 15px;
    position: relative;
}
.panel .panel-heading, .panel .panel-footer, .panel .panel-body {
    float: left;
    width: 100%;
}

.panel {
    float: left;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    border-top: 2px solid #E5E5E5;
    margin-bottom: 20px;
    position: relative;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.messages .item .text {
    background: #FFF;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #D5D5D5;
}

.list-group-status {
    float: left;
    margin-right: 10px;
    height: 40px;
    width: 10px;
    position: relative;
}

.list-group-status.status-online:after {
    background: #95b75d;
}
.list-group-status:after {
    position: absolute;
    left: 0px;
    top: 15px;
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: " ";
}

.list-group-status.status-away:after {
    background: #fea223;
}
.list-group-status.status-offline:after {
    background: #CCC;
}
.list-group {
    margin: 0px;
}

.push-down-10 {
    margin-bottom: 10px !important;
}

.list-group-contacts .list-group-item p {
    margin-bottom: 0px;
    line-height: 20px;
}

.list-group .list-group-item {
    line-height: 20px;
}

.list-group.list-group-simple {
    border: 0px;
    background: transparent;
}

.list-group-contacts .list-group-item img {
    border: 2px solid #F5F5F5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}
.list-group.list-group-simple .list-group-item {
    border: 0px;
    background: transparent;
    padding: 5px 10px;
}
a.list-group-item.message.active:focus, a.list-group-item.message.active{
    background-color: #E8E8E8;
}

.content-frame-right h4 {
    margin-top: 10px;
}

.list-group .list-group-item .fa {
    margin-right: 10px;
}

.list-group-contacts .list-group-item .contacts-title {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

.list-group-contacts .list-group-item.active {
    background: #F5F5F5;
    border-color: #E5E5E5;
    color: #656d78;
}
.msgdate{
    float: right;
    line-height: 20px;
    font-size: 11px;
    color: #ABABAB;
    font-weight: 600;
}
.messages {
    width: 100%;
    float: left;
    /*min-height:739px;*/
}
.messages .item {
    width: 100%;
    float: left;
    margin-bottom: 19px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.scrollable-messages{
    height: 100%;
    position: relative;
    overflow-y: scroll;
    margin-top: 14px;
}
.messages .item .text {
    /* background: #FFF; */
    /* padding: 10px; */
    -moz-border-radius: 3px;
    /* -webkit-border-radius: 3px; */
    /* border-radius: 3px; */
    /* border: 1px solid #D5D5D5; */
}
.messages .item .text .heading {
    width: 100%;
    margin-bottom: 5px;
}
.messages .item .text .heading a {
    text-decoration: none;
    font-size: 12px;
    color: #33414e;
    font-weight: 600;
    line-height: 20px;
}
.messages .item .text .heading .date {
    float: right;
    line-height: 20px;
    font-size: 11px;
    color: #CCC;
    font-weight: 600;
}
.messages .item .text:hover {
    border-color: #BBB;
}
.messages .item:nth-child(2n) .text {
    background: #F6F6F6;
}
.messages .item.item-visible {
    opacity: 1;
    filter: alpha(opacity = 100);
}
.messages.messages-img .item .image {
    float: left;
    width: 40px;
}
.messages.messages-img .item .image img {
    border: 2px solid #F5F5F5;
    border-radius: 50%;
    width: 40px;
}
.messages.messages-img .item .text {
    margin-left: 50px;
    position: relative;
}
.messages.messages-img .item .text:after,
.messages.messages-img .item .text:before {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.messages.messages-img .item .text:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFF;
    border-width: 5px;
    margin-top: -5px;
}
.messages.messages-img .item .text:before {
    border-color: rgba(213, 213, 213, 0);
    border-right-color: #D5D5D5;
    border-width: 6px;
    margin-top: -6px;
}
.messages.messages-img .item .text:hover:before {
    border-right-color: #BBB;
}
.messages.messages-img .item.in .image {
    float: right;
}
.messages.messages-img .item.in .text {
    margin-left: 0px;
    margin-right: 50px;
}
.messages.messages-img .item.in .text:after,
.messages.messages-img .item.in .text:before {
    right: auto;
    left: 100%;
}
.messages.messages-img .item.in .text:after {
    border-right-color: transparent;
    border-left-color: #FFF;
}
.messages.messages-img .item.in .text:before {
    border-right-color: transparent;
    border-left-color: #D5D5D5;
}
.messages.messages-img .item.in .text:hover:before {
    border-left-color: #BBB;
}

.convstartdate{
    color:#A9A9A9;
    padding-bottom:16px;
}

.leaveicon{
    margin-top:3px;
    padding-left:5px;
    color: #ABABAB;
}

.leaveicon:hover{
    color:#d22130;
}
/* END MESSAGES */


/* NETWORK BOXES */
.feed-box {
    position: relative;
}

.corner-ribon {
    position: absolute;
    right: 11px;
    top: 9px;
}

.feed-box img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px #C7C7C7 solid;
}

.panelmsg{
    background-color: #F9F9F9;
    border: 1px solid #eaeaea;
    width: 100%;
    border-radius: 5px;
}

/* END NETWORK */

/* DASHBOARD */
.event-list-block {
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
.event-calendar {
    background: #3a3a3a;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-height: 457px;
}
.calendar-block {
    float: right !important;
    -webkit-border-radius: 0 5px 5px 0px;
    -moz-border-radius: 0 5px 5px 0px;
    border-radius: 0 5px 5px 0px;
    background: #fff;
    min-height: 457px;
    z-index: 1000;
}
.noselect {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}
.calendar-block .clndr {
    margin: 85px 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
::-webkit-input-placeholder {
    font-size: 13px;
    color: #C3C3C3 !important;
}
.cal1 {
    margin: 30px auto;
    max-width: 600px;
    font-size: 14px;

}
.cal1 .clndr .clndr-controls {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    text-align: center;

}
.cal1 .clndr .clndr-controls .month {
    display: inline-block;
    text-align: center;
    color: #c1c1c1;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    padding: 5px 5px;
    position: relative;
    top: 2px;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
    display: inline-block;
    text-align: right;

}
.cal1 .clndr .clndr-controls .clndr-control-button.leftalign {
    text-align: left !important;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    padding:5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#C1C1C1;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #f4f4f4;
    padding:5px 10px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
    opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
    background: none;
    cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    padding:5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#C1C1C1;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #f4f4f4;
    padding:5px 10px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
    opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
    background: none;
    cursor: default;
}
.cal1 .clndr .clndr-table {
    table-layout: fixed;
    width: 100%;
}
.cal1 .clndr .clndr-table .header-days {
    height: 40px;
    font-size: 10px;
    background: #fff;

}
.cal1 .clndr .clndr-table .header-days .header-day {
    vertical-align: middle;
    text-align: center;
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    color: #666;
    font-size: 14px;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr {
    height: auto;
}
.cal1 .clndr .clndr-table tr td {
    vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
}
.cal1 .clndr .clndr-table tr .day:hover {
    /*background: #eee;*/
}
.cal1 .clndr .clndr-table tr .day.today {
    /*background: #9AD6E3;*/
}
.cal1 .clndr .clndr-table tr .day.today:hover {
    /*background: #72c6d8;*/
}
.cal1 .clndr .clndr-table tr .day.today.event {
    /*background: #a7dbc1;*/
}
.cal1 .clndr .clndr-table tr .day.event {
    /*background: #B4E09F;*/
}
.cal1 .clndr .clndr-table tr .day.event:hover {
    /*background: #96d478;*/
}
.today .day-contents {
    background: #d22130;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.cal1 .clndr .clndr-table tr .day.inactive {
    background: #ddd;
}
.cal1 .clndr .clndr-table tr .day:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
    box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
    text-align: center;
}
.calendar-block .day-contents:hover {
    background: #d22130;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
    /*background: #eee;*/
}
.cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover {
    /*background: #ddd;*/
}
.cal1 .clndr .clndr-table tr .empty:last-child,
.cal1 .clndr .clndr-table tr .adjacent-month:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .day {
    border-bottom: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .empty {
    border-bottom: 0px solid #000000;
}
.cal2 {
    max-width: 177px;
    margin: 0 auto;
    font-family: 'Droid Sans Mono';
}
.cal2 .clndr .clndr-controls {
    display: block;
    display: inline-block;
    width: 100%;
    margin-bottom: 3px;
}
.cal2 .clndr .clndr-controls .clndr-previous-button {
    float: left;
    width: 10%;
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-previous-button:hover {
    background-color: #f4f4f4;
}
.cal2 .clndr .clndr-controls .month {
    float: left;
    width: 80%;
    text-align: center;
}
.cal2 .clndr .clndr-controls .clndr-next-button {
    float: left;
    width: 10%;
    text-align: right;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}
.cal2 .clndr .clndr-controls .clndr-next-button:hover {
    background-color: #f4f4f4;
}
.cal2 .clndr .clndr-grid {
    text-align: center;
    border: 0px solid #FF4545;
    display: inline-block;
}
.cal2 .clndr .clndr-grid .header-day {
    float: left;
    width: 25px;
    height: 25px;
    background: #FF4545;
}
.cal2 .clndr .clndr-grid .day {
    float: left;
    width: 25px;
    height: 25px;
}
.cal2 .clndr .clndr-grid .day.event {
    background-color: #B4E09F;
}
.cal2 .clndr .clndr-grid .day.today {
    background-color: #E3C57F;
}
.cal2 .clndr .clndr-grid .empty,
.cal2 .clndr .clndr-grid .adjacent-month {
    float: left;
    width: 25px;
    height: 25px;
    background: #ddd;
}
.cal2 .clndr .clndr-today-button {
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.cal2 .clndr .clndr-today-button:hover {
    background-color: #ddd;
}
.cal-day {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 21px;
}
.cal-day span {
    font-size: 14px;
    display: block;
}
.event-list {
    padding-left: 0;
}
.event-list li {
    background: rgba(255,255,255,.2);
    padding: 10px 30px 10px 10px;
    color: #fff;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    list-style: none;
}
.session-quick {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 13px;
}
.evnt-input, .evnt-input:focus {
    background: none;
    border: none;
    border-bottom: #fff 1px solid;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    padding-left: 0px;
    margin-top: 10px;
}
/* END DASHBOARD */

.widget-icon {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    font-size: 27px;
    color: #BEBEBE;
    border-radius: 32px;
    border: 2px #C7C7C7 solid;
    background-color: #868686 !important;
    margin-top: -2px;
}

.widget-icon, .widget .widget-image {
    width: 60px;
    height: 60px;
}

.bottom-footer{
    bottom: 11px;
    position: fixed;
}

.ricon{
    width:40px;
    float:left;
    padding-top:5px;
    margin-right:3px;
}

.network-location{
    margin-top: -3px;
    font-size: 12px;
    padding-bottom: 6px;
    color: #000;
}

.network-name{
    margin-top: 9px;
    text-transform: uppercase;
    color: #000;
    font-size: 21px;
}

.fc-event-time{
    margin-left: 4px;
}

.btn-primary.btn-alt {
    background-color: #ffffff;
    color: #d22130;
}


.album-image-options {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}


.editalbumbtn{
    position: absolute;
    display: none;
    padding: 10px;
}

.block-title .editalbumbtn:hover{
    display:block;
}

.info-bg{
    background-color: #F22A3E;
    margin-top: -15px;
    min-height: 140px;
    margin-bottom: -16px;
    min-width: 105px;
}
.graywidget{
    background-color:#e2e2e2;
    color:#5d5d5d;
}

.dgraywidget{
    background-color:#3a3a3a;
    color:#fff;
}

.dgraywidget small{
    color:#c4c4c4;
}

.infoicon{
    margin-top: 38px;
    padding: 20px;
    font-size: 42px;
}

.progresssteps li{
    display:inline-block;
    padding-left: 104px;

    text-align:center;

}
.progresssteps{
    margin-left:-14px;
    width:100%;
    text-align:center;
}

.circle-icon {
    width: 40px;
    height:40px;
    display:block;
    line-height: 40px;
    background-color: #D3202C;
    border-radius: 100%;
    color:#fff;
    font-size:16px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.circle-icon2 {
    width: 30px;
    height: 30px;
    float:left;
    line-height: 30px;
    background-color: #D3202C;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.circle-icong {
    width: 40px;
    height:40px;
    display:block;
    line-height: 40px;
    background-color: #464646;
    border-radius: 100%;
    color:#fff;
    font-size:16px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.newsavatar{
    width: 40px;
    border: 1px solid #eaeaea;
}

.netavatar{
    width: 64px;
    border: 1px solid #eaeaea;
}
#msgdash{
    max-height: 390px;
    overflow: hidden;
    overflow-y: scroll;
}

.addButton{
    width: 26px;
    margin-left:10px;
}
.addButton i{
    margin-left:-2px;
}

.removeButton{
    margin-left: 10px;
    width: 27px;
}

.removeButton i{
    margin-left: -4px;
    font-size: 11px;
}
.conv_unread, .conv_unread:hover{ background-color: #D2D2D2 !important; }
.conv_read{ background-color: #FFF; }
.conv_selected{ background-color: #F7F7F7; }